<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>api_token</key>
	<string>fe3920de9336fb80536484cd52c26d60</string>
	<key>partner_marker</key>
	<string>191175</string>
</dict>
</plist>
